<br />
<br />
<div class="row">
  <div class="col-md-5 col-md-offset-4">
<span class='lucky'>List Books by location</span>
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
            <tr ng-repeat="site in vm.sites ">
                <td>{{site.name}}</td>
                <td>{{site.city}}</td>
                <td>{{site.state}}</td>
                <td><a href="">Browse Drop Site</a></td>
            </tr>
        </table>

        <br />
        <br />

<span class='lucky'>Or Broswe all Books:</span>
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
            <tr ng-repeat="book in vm.books ">
                <td>{{book.author}}</td>
                <td>{{book.title}}</td>
                <td><a href=""Browse Drop Site</a></td>
            </tr>
        </table>
    </div>
</div>
