<br />
<br />
<div class="form-group">
  <label for="s3" class="control-label col-sm-2">Name:</label>
  <div class="col-sm-10"> <!-- This is a new div -->
    <input type="text" class="form-control" id="s3" ng-model="vm.user.userName"  placeholder="HSimpson">
  </div>
</div>
<div class="form-group">
  <label for="s5" class="control-label col-sm-2">Email:</label>
  <div class="col-sm-10"> <!-- This is a new div -->
    <input type="text" class="form-control" id="s5" ng-model="vm.user.email"  placeholder="chunkylover53@yahoo.com">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-10 col-sm-offset-2"> <!--New div, offset because there is no label -->
    <button  class="btn btn-primary" ng-click="vm.saveUser();">Join the Book Finder Community!</button>
  </div>
  <br />
  <br />
<span class='lucky'>Not a member? <a href="/register">Create an account here!</a></span>
