.header {
    text-align: center;
   border: 3px solid green;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.lucky {
  font-family: 'Luckiest Guy', cursive;
}
